
<h2> Leaderboard </h2> 
<h4> Top Users </h4>
<% @users.each do |user| %>
    <%= user.username %>
    <%= user.blog %>
    <%= user.github_url %>
    <img src="<%= user.avatar_url %> />
    <%= user.location %> 
<% end %>
