<h2> Confirm Battle </h2>

<% @player_data.each do |key, player| %>
    <h3><%= key.gsub("_", " ").split(" ").map! {|x| x.capitalize}.join(" ") %></h3>
    <p class='player <%= key %>'><%= player['login'] %></p>
    <p class='player <%= key %>'><%= player['location'] %></p>
    <img class='player <%= key %>' src="<%= player['avatar_url'] %>" />
    <p class='player <%= key %>'>Score: <%= player['score'] %></p>
    <%# binding.pry %>
<% end %>


<%= @winner %>
