<!DOCTYPE html>
<html>
<head>
  <title>Open Source Champion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
    <h1>Open Source Champion</h1>
    <ul>
        <li><%= link_to 'Home', root_path %></li>
        <%#<%= link_to 'Battle', new_battle_path %>
        <li><a href="/battle">Battle</a></li>
        <li><%= link_to 'Leaderboard', users_path %></li>
        <li><%= link_to 'Recent Battles', battles_path %></li>
    </ul>
</header>


<%= yield %>
</body>
</html>
